<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>SQL Querier</Name>
  <Author>Andrew Morgan</Author>
  <Version>1.0.03</Version>
  <Active>False</Active>
  <Type>Addon</Type>
  <Description>Runs SQL queries from the ILLiad client with an Excel-friendly output.</Description>
  <Forms>
    <Form>FormRequest</Form>
  </Forms>
  <Settings />
  <Files>
    <File>SQL Querier.lua</File>
  </Files>
</Configuration>